@import "src/utils/variables";

.container-proyects{
    padding-top: $nav-height*1.2;
    background: $container-color-1;
    border-top: 5px solid $container-color-2;
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.proyects__title{
    font-family: $edu-font;
    color: $container-color-2;
    margin-bottom: 30px;
}

.proyects__main{

    &__title{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__each {
            margin-top: 20px;
            color: $container-color-2;
        }

    }
    &__last {
        margin-bottom: 100px;
    }
    &__title > p {
        color: $main-color;
        text-align: justify;
    }
    &__items{
        display: flex;
        justify-content: center;


    }
    &__items > img {
        max-width: 80%;
        max-height: 100%;
    }
}
@media screen and (min-width: 972px) {

    .proyects__main__title > p {

        font-size: 2vh;
    }
}
