.container__Contact{


    min-height: 100vh;
    &-title{
      
        text-align: center;
        font-size: 2rem;
        font-style: oblique;
        padding-top: 70px;
    }
}

.container__Contact-mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 40px;
}

.fa-envelope{
    font-size: 30px;
    margin-right: 20px;
}
.email-contact{
    font-size: 1.2vh;
}

.contact__form{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    margin-left: 10%;
    padding: 20px;

        &-input{
            width: 250px;
            background-color: transparent;
            padding: 10px;
            margin-bottom: 10px;
        }

        &-textarea{
            resize: none;
            background-color: transparent;
            width: 270px;
            height: 160px;
        }

        &-send{
            width: 100px;
            border-radius: 12px;
            text-align: center;
            margin-top: 20px;
        }

       

    }
    

    @media all and (min-width: 600px) {

        .container__Contact{

            &-title{
                font-size: 2rem;
            }
        }
        .contact__form{
            &-input{
                width: 300px;
                padding: 15px;
            }
            &-textarea{
                width: 600px;
                height: 300px
            }
        }
        .email-contact{
            font-size: 2vh;
        }
    }

@media screen and (max-width: 600px) {
    .contact__form {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &-textarea, &-input {
            width: 100%;
        }
    }
}

.navbar-toggler-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png) !important;
}
