@import "src/utils/variables";

.aboutMe{
    min-height: 100vh;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: $main-font;
    min-height: 100%;

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60%;
        background: $container-color-1;
    }
    &__text {
        color: $container-color-2;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0 50px;
        background: $container-color-4;
        width: 100%;
        min-height: 40%;
        font-size: 30px;
        line-height: 55px;
        & > p > span {
            font-family: $edu-font;
        }
        &__quote {
            font-family: $edu-font;
            font-style: italic;
            margin-right: 10px;
            font-size: 40px;
        }
    }
    &__tech-button-container {
        background: $container-color-2;
        height: 60%;
        min-height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__cv-button-container {
        background: $container-color-3;
        height: 40%;
        min-height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button {
        background: $container-color-1;
        color: $container-color-2;
        border-radius: 20px;
        padding: 20px 40px;
        min-width: 200px;
        width: 30%;
        font-family: $main-font;
        font-size: $text-size*1.2;
        letter-spacing: 2.5px;
        border: none;
        &:hover {
            transition: 0.4s;
            font-size: $text-size*1.5;
        }
    }
}


.imgCv{
    margin-top: 50px;
    width:300px;
    height:300px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.tecnologys{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
        font-size: 2vh;
    }
}

.btn{
    width: 130px;
    margin-bottom: 20px;
}


@media screen and (max-width: 1500px) {
    .description__text {
        line-height: 40px;
        font-size: 25px;
    }
}


@media screen and (max-width: 768px) {
    .description {
        min-height: 800px;
        &__text {
            line-height: 35px;
            padding: 10px;
            height: 60%;

            &__quote {
                font-family: $edu-font;
                font-style: italic;
                margin-right: 10px;
                font-size: 25px;
            }
        }
    }

    .imgCv{
        margin: 0;
        width:250px;
        height:250px;
    }
}


@media screen and (max-width: 480px) {
    .description {
        &__text {
            font-size: 22px;
        }
    }
}
