.aboutMe{

    padding: 5%;
    height: 100vh;
  

}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cabin",sans-serif;



    &__img{

        padding: 30px;
    }

    &__text{
       font-size: 2vh;
       text-align: justify;
       padding: 20px;
       padding-top: 10px;
    }
}
.imgCv{
    height:200px;
    width: 200px;
    border-radius:150px;
    

}

.tecnologys{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
        font-size: 2vh;
    }
}

.btn{
    width: 130px;
    margin-bottom: 20px;
}
.btn-primary{
    color: #fff;
    background-color: #549282;
    border-color: #549282;
}

@media all and (min-width: 600px) {
    
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;

    }
    .imgCv{
        width:250px;
        height:250px;
        border-radius:150px;
        
    
    }
    .description {
        &__text{
            font-size: 2.5vh;
            margin: 30px 0;
        }
    }
    .tecnologys{
        margin: 0px;
        flex-direction: row;
        justify-content: flex-start;
    }
    .btn{
        margin-left: 150px;
    }
}

@media screen and (min-width: 972px) {

    
    
    .description {
        &__text{
            font-size: 3vh;
        }
    }
    .imgCv{
        width:250px;
        height:250px;
        border-radius:150px;
        
    
    }
    .tecnologys{
        margin: 0px;
        flex-direction: row;
        justify-content: space-evenly;
    }


    
  }
